name: Publish to PyPI

on:
  # release:
  #   types: [published]
  push:
    branches:
      - 'main'

permissions:
  contents: read

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    needs:
      - release-build
    permissions:
      id-token: write

    environment:
      name: pypi
      url: https://pypi.org/p/SigmaFlow

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: make sync

      - name: Build package
        run: uv build

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      - name: Send msg
        run:
          curl https://api.day.app/ozCgXAen6CwTabCZRPJfRQ/github/sigmaflow%20publish%20done?icon=https://avatars1.githubusercontent.com/u/9919&group=github_action
